#about{
	border-radius: 12px 12px 0px 0px;
	border-width: 5px;
	font-size: 20px;
	border-bottom-style:hidden;
	margin-bottom: 20px;
	}
legend b{
	font-size: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}
	img{
		float:left;
		width:200px;
		height:150px;
		margin: -15px 25px 10px -20px;
	}
@media only screen and (min-width:150px )and (max-width: 600px)
{
	legend b{
	font-size: 16px;
	
	}
	#about{
		font-size: 18px;
	}
	img{
		
		width:120px;
		height:100px;
		margin: -15px 25px 10px -20px;
	}

}